{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Recent Posts</h2>
  <a href="{% url 'create_post' %}" class="btn btn-success mb-4">Create a Post</a>

    {% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ post.username }}</h6>
            <p class="card-text">
                {% if post.truncated %}
                    {{ post.content }}
                    <a href="#" data-post-id="{{ post.post_id }}" class="see-more-link">See More</a>
                    <span class="full-content" id="post-{{ post.post_id }}" style="display:none;">{{ post.original_content }}</span>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </p>
            <small class="text-muted">Posted on {{ post.created_at }}</small>
        </div>
    </div>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const seeMoreLinks = document.querySelectorAll('.see-more-link');
    seeMoreLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = this.getAttribute('data-post-id');
            const fullContent = document.getElementById('post-' + postId);
            this.style.display = 'none';  // Hide 'See More'
            fullContent.style.display = 'block';  // Show full content
        });
    });
});
</script>
{% endblock %}
